.container {
  display: flex;
  flex-direction: column;
  border: 1px solid #e0e0e0;
  border-radius: 6px;

  @media screen and (max-width: 600px) {
    margin-bottom: 48px;
  }
}

.list-title {
  display: flex;
  justify-content: space-between;
  padding: 12px 24px;
  align-items: center;

  font-size: 16px;
  line-height: 20px;
  background: #f6f6f6;

  @media screen and (max-width: 700px) {
    font-size: 14px;
    line-height: 18px;

    & > div > *:last-child {
      font-size: 12px;
    }
  }
}

.show-detail-button {
  font-size: 16px;
  line-height: 16px;

  @media screen and (max-width: 700px) {
    font-size: 14px;
    line-height: 14px;
  }
}

.list {
  display: flex;
  flex-direction: column;

  & > * {
    padding: 24px;
    border-top: 1px solid #e0e0e0;
  }
}
